.audio-hidden {
    display: none;
}

.container {
    margin-bottom: $spacer;
    padding: $spacer;
    min-height: 77px;
}

.cIndicators {
    top: 0;
}

.togglerCenter {
    text-align: center;
}

.modal-body {
    overflow-x: auto;
}


@media (min-width: 600px) {
    .modal-xl {
        width: 95%;
        max-width: 1200px;
    }
}
